.navbar-default {
  background-color: #ffffff;
  border: 0;
}

.navbar-nav {
  background-color: #ffffff;
}

.navbar-brand img {
  width: 128px;
  height: 36px;
  margin-top: -10px;
}

#navbar li {
  text-align: center;
}

.hero {
  background: url(/images/hero.jpg) no-repeat center center;
  background-size: cover;
}

.shadow {
  text-shadow: rgb(0, 0, 0) 0px 0px 20px;
}

.social-networks__link {
  opacity: 1.0;
}

.footer__copyright {
  float: left;
}

.footer__nav {
  float: left;
  clear: left;
}

#acknowledgement {
  margin-top: 10px;
  float: right;
  color: #737e88;
}