<section class="hero">
  <div class="container">
    <div class="hero__motto shadow">
      Access the Chinese market via Helsinki
    </div>
    <ul class="social-networks social-networks--hero shadow">
      <li class="social-networks__item"><a class="social-networks__link social-networks__link--facebook" href="https://www.facebook.com/techcodefinland" title="Techcode on Facebook" target="_blank">Facebook</a></li>
      <li class="social-networks__item"><a class="social-networks__link social-networks__link--twitter" href="https://twitter.com/techcodefin" title="Techcode on Twitter" target="_blank">Twitter</a></li>
      <li class="social-networks__item"><a class="social-networks__link social-networks__link--linkedin" href="https://www.linkedin.com/search/results/people/?facetGeoRegion=%5B%22fi%3A0%22%5D&keywords=techcode%20finland&origin=FACETED_SEARCH" title="Techcode on LinkedIn" target="_blank">LinkedIn</a></li>
    </ul>
    <p class="hero__motto">
      <a class="btn btn-lg btn-primary" href="#contact" role="button">Contact Us</a>
    </p>
  </div>
</section>
<section id="about" class="section section--about">
  <div class="container clearfix">
    <div class="about__primary">
      <h1 class="heading">About Techcode</h1>
      {% capture about %}{% include about.md %}{% endcapture %}
      {{ about | markdownify }}        </div>
    <aside class="about__secondary">
      <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ftechcodefinland%2F&tabs=timeline&width=400&height=380&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=false&locale=en_US&width=400&height=520" width="400" height="520" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
    </aside>
  </div>
</section>
<section id="events" class="section section--events">
  <div class="container">
    <h1 class="heading">Events</h1>
    {% capture events %}{% include events.md %}{% endcapture %}
    {{ events | markdownify }}
  </div>
</section>
<section id="team" class="section section--team">
  <div class="container">
    <h1 class="heading">Team</h1>
    <ul>
      {% include person.html name="Holo Zheng" title="General Manager" image="holo" email="zheng.holo@techcode.com" linkedin="https://www.linkedin.com/in/holo-zheng-86256a88/" %}
      {% include person.html name="Huageng Chi" title="Project Manager" image="huageng" email="huageng.chi@techcode.com" linkedin="https://www.linkedin.com/in/huagengchi" %}
      {% include person.html name="Eva Cao" title="Business Development Manager" image="eva" email="eva.cao@techcode.com" linkedin="https://www.linkedin.com/in/ling-cao-057a339/" %}
      {% include person.html name="Juho Pirinen" title="Bizdev, Partnerships" image="juho" email="juho.pirinen@techcode.com" linkedin="https://www.linkedin.com/in/juhopirinen/" %}
      {% include person.html name="Li Yang" title="Project Manager" image="li" email="li.yang@techcode.com" linkedin="https://www.linkedin.com/in/yangll/" %}
      {% include person.html name="Xin Chen" title="Operation Manager" image="xin" email="xin.chen@techcode.com" linkedin="https://www.linkedin.com/in/xin-chen-a14427a5/" %}
      {% include person.html name="Yang Wang" title="Operation Assistant" image="yang" email="wyang0908@hotmail.com" linkedin="https://www.linkedin.com/in/yang-wang-4a752189/" %}
      {% include person.html name="Sharine Li" title="Digital Marketing Assistant" image="sharine" email="sharynli666@gmail.com" linkedin=" https://www.linkedin.com/in/sharineli/" %}
    </ul>
  </div>
</section>

<section id="partners" class="section section--activity">

  <div class="container">
    <h1 class="heading">Partners</h1>

    <ul class="projects">
      <li class="projects__item">
        <a class="projects__item-link" href="http://www.lenovo.com/fi/fi/" target="_blank">
          <div class="projects__item-image">
            <img src="../i/lenovo_logo_detail.png" alt="Lenovo">
          </div>
        </a>
      </li>

      <li class="projects__item">
        <a class="projects__item-link" href="http://www.helsinkibusinesshub.fi/" target="_blank">
          <div class="projects__item-image">
            <img src="../i/hbh_logo_678.png" alt="Helsinki Business Hub">
          </div>
        </a>
      </li>

      <li class="projects__item">
        <a class="projects__item-link" href="http://www.newcohelsinki.fi/en/network/projects/start-company-finland" target="_blank">
          <div class="projects__item-image">
            <img src="../i/newco.png" alt="NewCo">
          </div>
        </a>
      </li>
    </ul>

  </div> <!-- /container -->
</section>
<section id="contact" class="section section--contact">
  <div class="container">
    <h1 class="heading contact__heading">Contact</h1>
    <div id="helsinki" style="display: block;">
      <div class="clearfix">
        <div class="contact-info" itemscope="" itemtype="http://schema.org/Organization">
          <div class="contact-info__group">
            <div itemprop="name"><strong>Techcode Finland</strong></div>
            <div itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
              <span itemprop="streetAddress">Porkkalankatu 20A, 5th floor</span><br>
              <span itemprop="postalCode">00180</span> <span itemprop="addressLocality">Helsinki</span><br>
              <span itemprop="addressCountry">Finland</span><br>
            </div>
          </div>

          <div class="contact-info__group">
            <a href="http://www.techcode.fi"><span itemprop="telephone">www.techcode.fi</span></a>
          </div>

          <div class="contact-info__group">
            <a href="mailto:finland@techcode.com"><span itemprop="email">finland@techcode.com</span></a>
          </div>

          <div class="contact-info__details">
            <p class="paragraph">Company ID: FI27801828</p>
          </div>
        </div> <!-- /contact-info -->

        <div class="contact-map">
          <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" width="100%" height="100%" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1984.9971232066182!2d24.91023205162837!3d60.16422648187021!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46920a49a821cf9b%3A0x4e0e092da509313f!2sPorkkalankatu+20a%2C+00180+Helsinki%2C+Finland!5e0!3m2!1sen!2suk!4v1495721305365"></iframe>
        </div>
      </div> <!-- /clearfix -->
    </div>
  </div> <!-- /container -->
</section>
