<li class="team__member">
    <div class="team__member-photo">
        <img src="/i/team/{{ include.image }}.jpg" alt="{{ include.name }}">
    </div>

    <h3 class="heading team__member-name">{{ include.name }}
    </h3>
    <p class="team__member-position">
        {{ include.title }}
    </p>
    <ul class="team__contact">
        <li class="team__contact-item">
            <a class="team__contact-link team__contact-link--email" href="mailto:{{ include.email }}" title="Email">Email</a>
        </li>
        <li class="team__contact-item">
            <a class="team__contact-link team__contact-link--linkedin" href="{{ include.linkedin }}" title="LinkedIn" target="_blank">LinkedIn</a>
        </li>
    </ul> <!-- /team__contact -->
</li> <!-- /team__member -->